.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 1.5rem 0;
    display: flex;
    transition: all 0.2s;
    font-size: $text-font-size;
    background-color: $color-primary;
    color: $color-white;
    border-radius: 0.4rem;

    border: none;
    cursor: pointer;

    span {
      margin-left: 0.7rem;
    }
  }

  &--create-contact {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }
  }

  &--create-label {
    color: $color-black;
    background-color: transparent;
    font-size: $default-font-size;
  }
}
