.link:link,
.link:visited {
  font-size: $default-font-size;
  text-decoration: none;
  color: $color-black;

  display: flex;
  border-radius: 4px;
  align-items: center;
  text-align: left;
}

.link {
  &--active {
    background-color: $color-secondary;
  }

  span {
    margin-left: 0.7rem;
    flex-grow: 1;
  }

  &__notification {
    background-color: $color-secondary;

    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    border-radius: 50%;

    &--active {
      background-color: $color-white;
    }
  }
}
