.modal-window {
  @include absCenter;
  border-radius: 3px;
  padding: 2rem 4rem;
  background-color: $color-white;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  border-radius: 1rem;
  /*display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;*/

  &__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__mbtn {
    margin-left: 2rem !important;
  }
}
