.search {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-bottom: 1px solid $color-border;

  &__button {
    border: none;
    background-color: $color-white;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__input {
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
    }
  }
}
