.sidebar {
  grid-column: 1;

  margin: 1rem;

  display: grid;

  justify-items: start;
  align-items: start;

  height: 97vh;
  border-right: 1px solid $color-border;

  grid-template-rows: auto auto 1fr;

  &__cta {
    margin-left: 1.5rem;
  }

  &__nav {
    justify-self: stretch;
    margin: 2rem 2rem 2rem 1rem;
    display: grid;

    row-gap: 0.5rem;
  }
}
