.sidebar {
  grid-column: 1;

  margin: 1rem;

  display: grid;

  justify-items: start;
  align-items: start;

  height: 97vh;
  border-right: 1px solid $color-border;

  grid-template-rows: auto auto 1fr;

  &__nav {
    margin-top: 2rem;
    display: grid;
    row-gap: 0.5rem;
  }
}
